# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/
.env
.env.*

# IDE
.idea/
.vscode/
*.iml

# Alembic
migration/versions/__pycache__/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
